*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
}

@media (max-width: 768px) {
  .contain__text {
    display: none;
  }
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
.profile_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 40rem;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile_container .typed {
  display: none;
}
.profile_container .contain__text {
  display: none;
}

@media screen and (max-width: 62.5rem) {
  .header {
    justify-content: center;
    align-items: center;
    font-family: "Amatic SC", cursive;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    background: rgb(182, 4, 4);
    height: 15rem;
    max-width: 100%;
    border-radius: 0rem 0rem 0.5rem 0.5rem;
    border: solid black 1rem 1rem 1rem;
  }
  .main__title {
    font-family: sans-serif;
    align-items: center;
    justify-content: center;
  }
  .direction__buttons {
    display: none;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .direction__projects {
    display: none;
    position: relative;
    bottom: 6rem;
    background-color: black;
    color: white;
    height: 5rem;
    width: 9rem;
    border-radius: 5%;
    border: none;
  }
  .direction__cv {
    display: none;
    position: relative;
    bottom: 6rem;
    background-color: black;
    color: white;
    height: 5rem;
    width: 9rem;
    border-radius: 5%;
    border: none;
    margin-left: 2rem;
  }
  .direction__contact {
    display: none;
    position: relative;
    bottom: 6rem;
    background-color: black;
    color: white;
    height: 5rem;
    width: 9rem;
    border-radius: 5%;
    border: none;
    margin-left: 2rem;
  }
  .search-container {
    display: flex;
    justify-content: flex-end;
    color: white;
    height: 0.1rem;
    position: relative;
    bottom: 3rem;
  }
  .search-form {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    color: white;
  }
  .search-form input[type=text] {
    cursor: text;
    margin-right: 10px;
    background: rgb(255, 255, 255);
    border-radius: 4rem;
    border: none;
    height: 4rem;
    width: 18rem;
    padding-left: 2rem;
  }
  .search-form input[type=text]::placeholder {
    color: rgb(0, 0, 0);
  }
  .submit__search {
    cursor: pointer;
    border: none;
    background: transparent;
    font-size: 3rem;
  }
  .icon__heading {
    display: flex;
    justify-content: center;
    font-size: 4.2rem;
    flex-direction: row;
    list-style: none;
    gap: 5rem;
    position: relative;
  }
  .contain__text {
    display: none;
  }
  .typed {
    display: none;
  }
  .profile__picture {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2rem;
    position: relative;
    top: 2rem;
    left: 1.9rem;
  }
  .profile__size {
    height: 20rem;
    width: 20rem;
  }
  .profile_container {
    width: 20rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
  }
  .project__cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style: none;
    position: relative;
    width: 20rem;
    margin-left: 10rem;
    padding: 5rem;
  }
  .project__cards--first {
    cursor: pointer;
    width: 30rem;
    height: 40rem;
    border-radius: 0.5rem;
    object-fit: cover;
  }
  .project__first__pic {
    cursor: pointer;
    height: 30rem;
    width: 30rem;
    border-radius: 0.5rem;
    object-fit: cover;
  }
  .project__second__pic {
    cursor: pointer;
    height: 30rem;
    width: 30rem;
    border-radius: 0.5rem;
    object-fit: cover;
  }
  .project__third__pic {
    cursor: pointer;
    height: 30rem;
    width: 30rem;
    border-radius: 0.5rem;
    object-fit: cover;
  }
  .project__cards--second {
    height: 30rem;
    width: 30rem;
    border-radius: 0.5rem;
  }
  .project__cards--third {
    width: 40rem;
    height: 50rem;
    border-radius: 0.5rem;
  }
  .button__bar {
    display: flex;
    position: absolute;
    height: 4rem;
    width: 4rem;
    background-color: black;
    border-radius: 0rem 0rem 0.1rem 0.1rem;
    color: white;
  }
  .view__code-buttons {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    font-size: 2.5rem;
    font-family: sans-serif;
  }
  .typed {
    display: none;
  }
  .contain__text {
    display: none;
  }
  .search-container {
    display: flex;
    justify-content: flex-end;
    color: white;
    height: 0.1rem;
    position: relative;
    bottom: 3rem;
  }
  .search-form {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    color: white;
  }
  .search-form input[type=text] {
    display: none;
  }
  .search-form input[type=text]::placeholder {
    color: rgb(0, 0, 0);
  }
  .submit__search {
    cursor: pointer;
    border: none;
    background: transparent;
    font-size: 3rem;
  }
  .about__me {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 25rem;
    width: 70rem;
    color: white;
    gap: 3rem;
    background: rgb(182, 4, 4);
    border-radius: 1rem 1rem 1rem 1rem;
    margin-top: 45rem;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    overflow: scroll;
  }
  .about__who {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 30rem;
    font-size: 4rem;
    margin-left: 2rem;
    margin-top: 2rem;
  }
  .about__info {
    justify-content: flex-start;
    align-items: flex-start;
    width: 50rem;
    height: 60rem;
    margin-left: 2rem;
    font-size: 1rem;
    flex-shrink: 2;
    padding-right: 1rem;
  }
  .mijn__cv__extra {
    color: black;
    text-decoration: underline;
    border: none;
  }
  .read__more {
    cursor: pointer;
    border: none;
    margin-top: 2rem;
    height: 7rem;
    width: 18rem;
    color: white;
    background-color: black;
    border-radius: 1rem 1rem 1rem 1rem;
    font-size: 2.5rem;
  }
  .read__more__a {
    color: white;
  }
  .skills {
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .skills__showcase__container {
    overflow: visible;
  }
  .skill__sizes {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    width: 100%;
    max-width: 20rem;
    height: 20rem;
    background: rgb(23, 24, 23);
    color: white;
    border-radius: 1rem;
  }
  .contact__me {
    background: rgb(182, 4, 4);
    border-radius: 1rem 1rem 1rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50rem;
    max-width: 60rem;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    top: 20rem;
  }
  .contact__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
  }
  .contact__me__title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0;
    width: 100%;
  }
  .contact__form label {
    display: block;
    margin-bottom: 5px;
  }
  .contact__form input,
.contact__form textarea {
    margin-bottom: 10px;
    height: 5rem;
    width: 100%;
  }
  .contact__form input[type=submit] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    height: 10rem;
    max-width: 100%;
    background: rgb(182, 4, 4);
    border-radius: 0rem 0rem 0.5rem 0.5rem;
  }
  .footer__title {
    font-size: 2.2rem;
    font-family: sans-serif;
  }
}
@media screen and (max-width: 768px) {
  .contain__text {
    height: auto; /* Pas de hoogte aan naar wens */
  }
  .typed {
    font-size: 3rem; /* Pas de gewenste fontgrootte aan */
  }
}
/* Mediaquery voor schermen kleiner dan 480px */
@media screen and (max-width: 480px) {
  .typed {
    font-size: 2rem; /* Pas de gewenste fontgrootte aan */
  }
}
.main__title:hover {
  cursor: default;
  color: black;
  transition: 0.3s;
}

.profile_container:hover {
  transition: 0.5s;
  box-shadow: 0 0 7px 5px #000000, 0 0 15px 15px #c91919;
}
.profile_container:not(:hover) {
  transition: 0.5s;
  box-shadow: none;
}

.submit__search:hover {
  color: white;
  transition: 0.3s;
}

.icon__heading1:hover {
  color: black;
  transform: scale(1.2);
  transition: transform 0.5s;
}
.icon__heading1:not(:hover) {
  transition: 0.3s;
  box-shadow: none;
}

.icon__heading2:hover {
  color: black;
  transform: scale(1.2);
  transition: transform 0.5s;
}
.icon__heading2:not(:hover) {
  transition: 0.3s;
  box-shadow: none;
}

.icon__heading3:hover {
  color: black;
  transform: scale(1.2);
  transition: transform 0.5s;
}
.icon__heading3:not(:hover) {
  transition: 0.3s;
  box-shadow: none;
}

.search-form input[type=text]:hover {
  border: solid black 0.2rem;
}

.contact__form input[type=submit]:hover {
  cursor: pointer;
  color: white;
  background: rgb(35, 32, 32);
  transition: 0.3s;
}

.direction__projects:hover {
  cursor: pointer;
  color: white;
  background: rgb(35, 32, 32);
  transition: 0.3s;
}

.direction__cv:hover {
  cursor: pointer;
  color: white;
  background: rgb(35, 32, 32);
  transition: 0.3s;
}

.direction__contact:hover {
  cursor: pointer;
  color: white;
  background: rgb(35, 32, 32);
  transition: 0.3s;
}

.project__heading {
  position: relative;
}

.project__heading::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #c91919, #c91919);
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.project__heading:hover::after {
  transform: scaleX(1);
}

.project__cards--first:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
  background-color: black;
}
.project__cards--first:not(:hover) {
  transition: 0.3s;
  box-shadow: none;
}

.project__first__pic:hover {
  transition: ease-in 0.4s;
  opacity: 50%;
}

.project__cards--second:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
}
.project__cards--second:not(:hover) {
  transition: 0.3s;
  box-shadow: none;
}

.project__second__pic:hover {
  transition: ease-in 0.4s;
  opacity: 50%;
}

.project__cards--third:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
}
.project__cards--third:not(:hover) {
  transition: 0.3s;
  box-shadow: none;
}

.project__third__pic:hover {
  transition: ease-in 0.4s;
  opacity: 50%;
}

.view__code-buttons:hover {
  color: red;
  transition: ease-in 0.4s;
}

.project__links:hover {
  color: red;
  transition: ease-in 0.4s;
}

.floating__icon1:hover {
  transform: scale(1.4);
  transition: transform 0.2s;
}
.floating__icon1:not(:hover) {
  transition: 0.3s;
  box-shadow: none;
}
.floating__icon1.hide {
  opacity: 0;
}

.floating__icon2:hover {
  transform: scale(1.4);
  transition: 0.2s;
}
.floating__icon2:not(:hover) {
  transition: 0.3s;
  box-shadow: none;
}

.floating__icon3:hover {
  transform: scale(1.4);
  transition: 0.2s;
}
.floating__icon3:not(:hover) {
  transition: 0.3s;
  box-shadow: none;
}

.view__more__button:hover {
  background: black;
  border: none;
  border-radius: 0.5rem;
  transition: 0.3s all;
  border: 0.2rem solid rgb(255, 255, 255);
}

.my__skills__text {
  position: relative;
}

.my__skills__text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #c91919, #c91919);
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.my__skills__text:hover::after {
  transform: scaleX(1);
}

#skill__icons:hover {
  cursor: pointer;
  color: red;
  transition: 0.3s;
  transform: scale(1.1);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.typed {
  animation: typing;
  animation-duration: 3s;
  animation-timing-function: steps(30, end);
  animation-fill-mode: forwards;
}
.typed:hover {
  color: rgb(255, 0, 0);
  transition: 0.3s;
  cursor: default;
}
.typed:not(:hover) {
  transition: 0.3s;
  box-shadow: none;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.about__who:hover {
  cursor: default;
  color: black;
  text-decoration: underline;
  transition: 0.3s;
}

.mijn__cv__extra:hover {
  color: black;
  text-decoration: underline;
  transition: 0.3s;
}

.read__more:hover {
  color: white;
  text-decoration: underline;
  transition: 0.3s;
}

.read__more__a:hover {
  color: white;
  text-decoration: underline;
  transition: 0.3s;
}

:root {
  --color: 248, 248, 255;
  --cursor-size: 30px;
}

a:link, a:visited {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

html,
body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: sans-serif;
  font-family: sans-serif;
}

.js--darkmode {
  background-color: rgb(255, 0, 0);
  color: rgb(0, 0, 0);
}

.header {
  justify-content: center;
  align-items: center;
  font-family: "Amatic SC", cursive;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
  background: rgb(182, 4, 4);
  height: 15rem;
  max-width: 100%;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  border: solid black 1rem 1rem 1rem;
}

.main__title {
  font-family: sans-serif;
  align-items: center;
  justify-content: center;
}

.direction__buttons {
  display: flex;
  margin-bottom: 2rem;
  gap: 3rem;
  justify-content: flex-start;
  align-items: flex-start;
}

.direction__projects {
  position: relative;
  bottom: 6rem;
  background-color: black;
  color: white;
  height: 5.5rem;
  width: 11rem;
  border-radius: 5%;
  border: none;
  margin-left: 2rem;
}

.direction__contact {
  position: relative;
  bottom: 6rem;
  background-color: black;
  color: white;
  height: 5.5rem;
  width: 11rem;
  border-radius: 5%;
  border: none;
  margin-left: 2rem;
}

.direction__cv {
  position: relative;
  bottom: 6rem;
  background-color: black;
  color: white;
  height: 5.5rem;
  width: 11rem;
  border-radius: 5%;
  border: none;
  margin-left: 2rem;
}

.search-container {
  display: flex;
  justify-content: flex-end;
  color: white;
  height: 0.1rem;
  position: relative;
  bottom: 3rem;
}

.search-form {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  color: white;
}

.search-form input[type=text] {
  cursor: text;
  margin-right: 10px;
  background: rgb(255, 255, 255);
  border-radius: 4rem;
  border: none;
  height: 4rem;
  width: 18rem;
  padding-left: 2rem;
}

.search-form input[type=text]::placeholder {
  color: rgb(0, 0, 0);
}

.submit__search {
  cursor: pointer;
  border: none;
  background: transparent;
  font-size: 3rem;
}

.icon__heading {
  display: flex;
  justify-content: center;
  font-size: 4.2rem;
  flex-direction: row;
  list-style: none;
  gap: 5rem;
  position: relative;
}

body {
  background-color: rgb(175, 19, 19);
  margin: 0;
  background: #121212;
}

.profile__picture {
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
  position: relative;
  bottom: 4rem;
  width: -10rem;
}

.profile_container {
  width: 40rem;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.profile__size {
  object-fit: contain;
  height: 70rem;
  width: 40rem;
}

.project__heading {
  font-family: sans-serif;
  font-size: 6rem;
  color: rgb(255, 255, 255);
  grid-column: 2;
  text-align: center;
  position: relative;
  top: 10rem;
}

.project__cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6.4rem;
  list-style: none;
  position: relative;
  top: 18rem;
}

.project__cards--first {
  width: 40rem;
  height: 50rem;
  border-radius: 0.5rem;
  object-fit: cover;
}

.project__first__pic {
  cursor: pointer;
  height: 50rem;
  width: 40rem;
  border-radius: 0.5rem;
  object-fit: cover;
}

.project__second__pic {
  cursor: pointer;
  height: 50rem;
  width: 40rem;
  border-radius: 0.5rem;
  object-fit: cover;
}

.project__third__pic {
  cursor: pointer;
  height: 50rem;
  width: 40rem;
  border-radius: 0.5rem;
  object-fit: cover;
}

.project__cards--second {
  width: 40rem;
  height: 50rem;
  border-radius: 0.5rem;
}

.project__cards--third {
  width: 40rem;
  height: 50rem;
  border-radius: 0.5rem;
}

.button__bar {
  display: flex;
  position: absolute;
  height: 4rem;
  width: 40rem;
  background-color: black;
  border-radius: 0rem 0rem 0.1rem 0.1rem;
  color: white;
}

.view__code-buttons {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  font-size: 2.5rem;
  gap: 12rem;
  font-family: sans-serif;
}

.button__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.view__more__button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 30rem;
  background-color: red;
  border: none;
  color: white;
  height: 6rem;
  width: 15rem;
  z-index: 1;
}

.floating__sidenav {
  position: fixed;
  display: flex;
  margin-top: 23rem;
  height: 30rem;
  width: 6rem;
  border-radius: 20px;
  background-color: #000000;
  margin-left: 0.8rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6rem;
  box-shadow: inset rgb(255, 0, 0) 4px 4px 1px 1px;
  transition: top 0.3s, opacity 0.3s ease-in-out;
  opacity: 1;
}

.floating__icon1 {
  font-size: 2.8rem;
  display: flex;
}

.floating__icon2 {
  font-size: 2.8rem;
  display: flex;
}

.floating__icon3 {
  font-size: 2.8rem;
  display: flex;
}

.typed {
  display: flex;
  font-size: 4rem;
  padding-left: 2rem;
  margin-top: 20rem;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  color: white;
  font-family: "Oswald";
}

.navigation {
  background-color: blue;
  color: black;
  width: 10rem;
  height: 2rem;
}

.skills__showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
}

.my__skills__text {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
  position: relative;
  top: 13rem;
}

.skills__showcase__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); /* Gebruik een grid met automatische kolombreedte */
  grid-gap: 3rem;
  max-width: 100%;
  width: 100%;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  background: rgb(150, 31, 31);
  height: 40rem;
  width: 100%;
  max-width: 100rem;
  list-style: none;
  margin-right: auto;
  margin-left: auto;
  border-radius: 1rem;
}

.skill__sizes {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 9rem;
  font-size: 8rem;
  width: 100%;
  max-width: 20rem;
  height: 30rem;
  background: rgb(23, 24, 23);
  color: white;
  border-radius: 1rem;
}

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  color: rgb(255, 255, 255);
}

.flip-card-back {
  font-size: 3rem;
  color: white;
  transform: rotateY(180deg);
}

.skill__info {
  font-size: 2rem;
  position: relative;
  bottom: 2rem;
}

.skills__name__title {
  position: relative;
  bottom: 2rem;
}

.about__me {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 25rem;
  width: 90rem;
  color: white;
  gap: 3rem;
  background: rgb(182, 4, 4);
  border-radius: 1rem 1rem 1rem 1rem;
  margin-top: 45rem;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

.about__who {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 30rem;
  font-size: 4rem;
  margin-left: 2rem;
  margin-top: 2rem;
}

.about__info {
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 2rem;
  font-size: 2.7rem;
  padding-right: 1rem;
}

.mijn__cv__extra {
  color: black;
  text-decoration: underline;
  border: none;
}

.read__more {
  cursor: pointer;
  border: none;
  margin-top: 2rem;
  height: 7rem;
  width: 18rem;
  color: white;
  background-color: black;
  border-radius: 1rem 1rem 1rem 1rem;
  font-size: 2.5rem;
}

.read__more__a {
  color: white;
}

.contact__me {
  background: rgb(182, 4, 4);
  border-radius: 1rem 1rem 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50rem;
  max-width: 60rem;
  margin: 0 auto;
  padding: 20px;
}

.contact__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
}

.contact__me__title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 0;
  width: 100%;
  padding-left: 7.1rem;
  gap: 2rem;
}

.contact__form label {
  display: block;
  margin-bottom: 5px;
}

.contact__form input,
.contact__form textarea {
  margin-bottom: 10px;
  height: 5rem;
  width: 100%;
}

.contact__form input[type=submit] {
  background-color: #000000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.footer__icons {
  background-color: black;
  margin-right: 1rem;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.footer__title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 35rem;
  height: 10rem;
  max-width: 100%;
  background: rgb(182, 4, 4);
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  font-size: 3.5rem;
  font-family: sans-serif;
}

/*# sourceMappingURL=style.css.map */
